@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  body {
    @apply w-dvw h-dvh text-sm;
  }
}

@layer utilities {
  .app-label {
    @apply text-black;
  }

  .app-label-error {
    @apply text-red-400;
  }

  .app-input {
    @apply w-full outline-none border-2 rounded-xl px-10 py-3;
  }

  .app-input-error {
    @apply border-red-400 text-red-400 placeholder-red-400;
  }

  .app-action-button {
    @apply bg-black text-white text-base font-semibold py-3 rounded-xl cursor-pointer;
  }

  .app-social-link {
    @apply text-center font-semibold text-base border-2 rounded-xl py-3;
  }
}
